alembic==1.7.4
aniso8601==9.0.1
attrs==21.2.0
cffi==1.15.0
click==8.0.3
cryptography==35.0.0
dataclasses==0.8
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.8.1
importlib-resources==5.2.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
jsonschema==3.2.0
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.14.0
packaging==21.0
pluggy==1.0.0
py==1.10.0
pycparser==2.20
PyMySQL==1.0.2
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
python-dotenv==0.19.1
pytz==2021.3
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
typing-extensions==3.10.0.2
webargs==8.0.1
Werkzeug==2.0.2
zipp==3.6.0
